/* Global Styles */
body {
    font-family: 'Roboto', sans-serif; /* Using Roboto to adhere to Material Design principles */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Changed this to column to stack items vertically */
    height: 100vh;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the top of the page */
    gap: 20px; /* Adds spacing between children elements */
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Form Styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

button {
    align-self: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
}

input#shortenedUrl {
    background-color: #e9ecef;
    cursor: pointer;
    margin-top: 10px;
}

.alert {
    background-color: #e27d60;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}